version: 2.1

orbs:
  rust: circleci/rust@1

jobs:
  test-rust:
    executor:
      name: rust/default
      tag: "1.92"
    steps:
      - checkout
      - rust/test:
          working_directory: ~/project/nit-rust

  test-crystal:
    docker:
      - image: crystallang/crystal:latest
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: shards install
          working_directory: nit-crystal
      - run:
          name: Run specs
          command: crystal spec
          working_directory: nit-crystal

workflows:
  test:
    jobs:
      - test-rust
      - test-crystal
